.switch,
.inner,
.innerOn {
  --switch-width: 26px;
}

.switch {
  position: relative;
  display: inline-block;
  width: calc(var(--switch-width) * 2);
  height: var(--switch-width);
  vertical-align: middle;
  border-radius: 13px;
  background-color: color(#27364e a(0.25));
  cursor: pointer;
  transition: all 0.3s ease;
}

.switchOff {
  composes: switch;
}

.switchOn {
  composes: switch;
  background-color: #27364e;
}

.inner {
  font-size: 1.4rem;
  width: calc(var(--switch-width) - 2px);
  height: calc(var(--switch-width) - 2px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.innerOff {
  composes: inner;
  left: 1px;
}

.innerOn {
  composes: inner;
  left: calc(var(--switch-width) + 1px);
}

.icon {
  color: #f55d54;
}
