.band_pane{
  height:26px;
}
.color_bands{
  display:inline-block;
  height:100%;
  width:85%;
}
.color_band,.opacity_band{
  position: relative;
  width: 100%;
  height:11px;
  border: 1px solid #aaa;
  border-radius:3px;
  cursor: pointer;
}
.color_band{
  background:-webkit-linear-gradient(top,#ff0000,#ff0080,#ff00ff,#8000ff,#0000ff,#0080ff,#00ffff,#00ff80,#00ff00,#80ff00,#ffff00,#ff8000,#ff0000); 
  background: -o-linear-gradient(top,#ff0000,#ff0080,#ff00ff,#8000ff,#0000ff,#0080ff,#00ffff,#00ff80,#00ff00,#80ff00,#ffff00,#ff8000,#ff0000); 
  background: -ms-linear-gradient(top,#ff0000,#ff0080,#ff00ff,#8000ff,#0000ff,#0080ff,#00ffff,#00ff80,#00ff00,#80ff00,#ffff00,#ff8000,#ff0000); 
  background:-moz-linear-gradient(top,#ff0000,#ff0080,#ff00ff,#8000ff,#0000ff,#0080ff,#00ffff,#00ff80,#00ff00,#80ff00,#ffff00,#ff8000,#ff0000); 
  -webkit-linear-gradient(top,#ff0000,#ff0080,#ff00ff,#8000ff,#0000ff,#0080ff,#00ffff,#00ff80,#00ff00,#80ff00,#ffff00,#ff8000,#ff0000); 
  background:linear-gradient(to right,#ff0000,#ff0080,#ff00ff,#8000ff,#0000ff,#0080ff,#00ffff,#00ff80,#00ff00,#80ff00,#ffff00,#ff8000,#ff0000);
  /* background:#FFF; */
  margin-bottom:4px;
}
#color_band_select, #opacity_band_select{
  position:absolute;
  width:6px;
  height:100%;
  background-color:#FFF;
  border-radius:2px;
  box-shadow:0 0 1px #000;
}
#color_band_select{
  left:20px;
}
.opacity_band{
  /* background:linear-gradient(to right,transparent,#2253BB); */
}
#opacity_band_select{
  left:165px;
}
.color_preview_layer{
  display:inline-block;
  width:26px;
  height:100%;
  margin-left:2%;
  border:1px solid #b1b1b1;
  border-radius:3px;
  overflow:hidden;
  background-repeat:repeat-y;
  background-size:8px 16px;
  background-position: 0px 8px, 8px 0px, 16px 8px;
  background-image: linear-gradient(#FFF 50%, #D1D1D1 50%, #D1D1D1),
                    linear-gradient(#FFF 50%, #D1D1D1 50%, #D1D1D1),
                    linear-gradient(#FFF 50%, #D1D1D1 50%, #D1D1D1);
}
#color_preview{
  width:100%;
  height:100%;
  /* background-color:#3A5A8A; */
}