*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
.color_picker{
	position: relative;
  font-size:0;
	left:20px;
	top:20px;
	width: 220px;
	background:#FFF;
	border: 1px solid #bbb;
	border-radius: 5px;
  padding:7px;
  user-select: none;
  -webkit-user-select: none;
}
.main_pane{
  width: 100%;
}
/* .color_pane */
.color_panel{
  position:relative;
  width: 100%;
  height: 147px;
  margin-bottom: 4px;
  overflow: hidden;
  border: 1px solid #aaa;
  /* cursor: crosshair; */
  border-radius:3px;
}
.color_panel_overlay1 {
  width:100%;
  height: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff', endColorstr='#00ffffff')"; /* IE8 */
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff', endColorstr='#00ffffff'); /* IE6 & IE7 */
}
.color_panel_overlay2 {
  width:100%;
  height: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00000000', endColorstr='#000000')"; /* IE8 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
/* the tiny circle to pick color */
#color_point{
  position:absolute;
  width:8px;
  height:8px;
  margin:-4px;
  box-shadow: 0 0 1px #000, 0 0 1px #000 inset;
  border:1px solid #FFF;
  border-radius:50%;
  top:0;
  left: 0;
}
.colpick_selector_outer {
  position: absolute;
  background:none;
  width: 11px;
  height: 11px;
  margin: -6px 0 0 -6px;
  border: 1px solid black;
  border-radius: 50%;
}
.colpick_selector_inner{
  position: absolute;
  width: 9px;
  height: 9px;
  border: 1px solid white;
  border-radius: 50%;
}

.colpick_hue_arrs {
  position: absolute;
  left: -8px;
  width: 35px;
  height: 7px;
  margin: -7px 0 0 0;
}
.colpick_hue_larr {
  position:absolute;
  width: 0; 
  height: 0; 
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 7px solid #858585;
}
.colpick_hue_rarr {
  position:absolute;
  right:0;
  width: 0; 
  height: 0; 
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; 
  border-right: 7px solid #858585; 
}
.color_ctrl{
  /* float:left; */
  margin-left:177px;
  height:152px;
  padding: 5px;
  outline: 1px solid #aaa;
}

/* ctrl panel控制面板 */
.compare_pane{
  text-align: center;
}
.pane_new_color, .pane_current_color{
  display: inline-block;
  width: 52px;
  margin: 0 5px;
  height: 27px;
  background: #f00;
  border: 1px solid #8f8f8f;
}
.transparent_pane{
  height: 10px;
  width:100%;
  border:1px solid red;
  margin: 4px 0;
}
.value_pane{
  text-align: center;
}
.colpick_field{
  margin:2px;
}
.colpick_transparent_field{
  display: inline-block;
  border:1px solid red;
  width:50px;
  height:20px;
}
/* bottom_pane */
.color_bar{
  clear: both;
  /* border:1px solid red; */
}
.history_pane{
  display: inline-block;
}
.colpick_prev{
  display: inline-block;
  width:20px;
  height: 20px;
  margin:2px;
  border:1px solid #000;
}
#colpick_transparent{
  background-color:rgba(0, 0, 0, 0.5);
}
#colpick_submit{
  display:inline-block;
  width: 32px;
  line-height:18px;
  background: #efefef;
  text-align: center;
  color: #555;
  font-size: 12px;
  font-weight:bold;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
}
.colpick_field{
  overflow:hidden;
  /* font-size:12px; */
  border-radius: 3px;
}
.color_show{
  position:absolute;
  box-sizing:content-box;
  top:0;
  left:100%;
  margin-left:10px;
  box-shadow: 0 0 1px #CCC;
}

