.mode_pane{
  text-align: center;
  width:100%;
  margin-bottom:8px;
}
.color_mode{
  display:inline-block;
  width:20px;
  height:20px;
  margin:0 4px;
  border-radius: 3px;
  border:1px solid #888;
}
.mode_pane .pattern_fill{
}
.flat_color{
  margin-left: 0;
  background-color:#A6A6A6;
  border-width:0;
}
.flat_color:hover{
  background-color:#555;
}
.flat_color.active{
  background-image: linear-gradient(to bottom, rgb(65,155,249), rgb(65,155,249));
}
.linear_gradient{
  background: linear-gradient(to bottom, #FFF, #888);
}
.linear_gradient:hover{
  background: linear-gradient(to bottom, #FFF, #333);
}
.linear_gradient.active{
  background: linear-gradient(to bottom, #FFF, rgb(65,155,249));
}
.radial_gradient{
  background: radial-gradient(#FFF, #838383);
}
.radial_gradient:hover{
  background: radial-gradient(#FFF, #282828);
}
.radial_gradient.active{
  background: radial-gradient(#FFF, rgb(18,134,255));
}
.mode_pane .pattern_fill{
    background-size: 8px 8px; 
    margin-right: 0;
}
.pattern_fill{
  background-image: 
   /*horizonta*/
   -webkit-gradient(linear, 0 0, 0 100%, 
    color-stop(.5, transparent), 
    color-stop(.5, rgba(64, 64, 64, .5)), 
    to(rgba(64, 64, 64, .5))),
     /*vertical*/
   -webkit-gradient(linear, 0 0, 100% 0, 
    color-stop(.5, transparent), 
    color-stop(.5, rgba(64, 64, 64, .5)),
     to(rgba(64, 64, 64, .5)));
}
.pattern_fill:hover{
  background-image: 
   /* horizontal */
   -webkit-gradient(linear, 0 0, 0 100%, 
    color-stop(.5, transparent), 
    color-stop(.5, rgba(0, 0, 0, .5)), 
    to(rgba(0, 0, 0, .5))),
   /*vertical*/
   -webkit-gradient(linear, 0 0, 100% 0, 
    color-stop(.5, transparent), 
    color-stop(.5, rgba(0, 0, 0, .5)),
     to(rgba(0, 0, 0, .5)));
}
.transparent_color{
  background-image: 
    linear-gradient(to bottom, rgba(65,155,249,0.5), rgba(65,155,249,0.5)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #555), color-stop(.25, transparent), to(transparent)),
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #555), color-stop(.25, transparent), to(transparent)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #555)),
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #555));
}
.transparent_color:hover{
  background-color:rgba(0, 0, 0, 0.5);
}
/*Input field containers*/

.colpick_hex_field {
  margin:2px;
	width: 68px;
}
/*Text field container on focus*/
.colpick_focus {
	border-color: #999;
}
.colpick_field_arrs {
	position: absolute;
	top: 0;
	right: 0;
	width: 9px;
	height: 21px;
	cursor: n-resize;
}
.colpick_field_uarr {
	position: absolute;
	top: 5px;
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid #959595;
}
.colpick_field_darr {
	position: absolute;
	bottom:5px;
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #959595;
}
/*Submit/Select button*/
.colpick_submit {
  display:inline-block;
	width: 52px;
	height: 20px;
	line-height:22px;
	background: #efefef;
	text-align: center;
	color: #555;
	font-size: 12px;
	font-weight:bold;
	border: 1px solid #bdbdbd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.colpick_submit:hover {
	background:#f3f3f3;
	border-color:#999;
	cursor: pointer;
}

/*full layout with no submit button*/
.colpick_full_ns  .colpick_submit, .colpick_full_ns .colpick_current_color{
	display:none;
}
.colpick_full_ns .colpick_new_color {
	width: 130px;
	height: 25px;
}
.colpick_full_ns .colpick_rgb_r, .colpick_full_ns .colpick_hsb_h {
	top: 42px;
}
.colpick_full_ns .colpick_rgb_g, .colpick_full_ns .colpick_hsb_s {
	top: 73px;
}
.colpick_full_ns .colpick_rgb_b, .colpick_full_ns .colpick_hsb_b {
	top: 104px;
}
.colpick_full_ns .colpick_hex_field {
	top: 135px;
}

/*rgbhex layout*/
.colpick_rgbhex .colpick_hsb_h, .colpick_rgbhex .colpick_hsb_s, .colpick_rgbhex .colpick_hsb_b {
	display:none;
}
.colpick_rgbhex {
	width:282px;
}
.colpick_rgbhex .colpick_field, .colpick_rgbhex .colpick_submit {
	width:68px;
}
.colpick_rgbhex .colpick_new_color {
	width:34px;
	border-right:none;
}
.colpick_rgbhex .colpick_current_color {
	width:34px;
	left:240px;
	border-left:none;
}

/*rgbhex layout, no submit button*/
.colpick_rgbhex_ns  .colpick_submit, .colpick_rgbhex_ns .colpick_current_color{
	display:none;
}
.colpick_rgbhex_ns .colpick_new_color{
	width:68px;
	border: 1px solid #8f8f8f;
}

/*hex layout*/
.colpick_hex .colpick_hsb_h, .colpick_hex .colpick_hsb_s, .colpick_hex .colpick_hsb_b, .colpick_hex .colpick_rgb_r, .colpick_hex .colpick_rgb_g, .colpick_hex .colpick_rgb_b {
	display:none;
}
.colpick_hex {
	width:206px;
	height:201px;
}
.colpick_hex .colpick_hex_field {
	width:72px;
	height:25px;
	top:168px;
	left:80px;
}
.colpick_hex .colpick_hex_field div, .colpick_hex .colpick_hex_field input {
	height: 25px;
	line-height: 25px;
}
.colpick_hex .colpick_new_color {
	left:9px;
	top:168px;
	width:30px;
	border-right:none;
}
.colpick_hex .colpick_current_color {
	left:39px;
	top:168px;
	width:30px;
	border-left:none;
}
.colpick_hex .colpick_submit {
	left:164px;
	top: 168px;
	width:30px;
	height:25px;
	line-height: 25px;
}

/*hex layout, no submit button*/
.colpick_hex_ns  .colpick_submit, .colpick_hex_ns .colpick_current_color {
	display:none;
}
.colpick_hex_ns .colpick_hex_field {
	width:80px;
}
.colpick_hex_ns .colpick_new_color{
	width:60px;
	border: 1px solid #8f8f8f;
}

/*Dark color scheme*/
.colpick_dark {
	background: #161616;
	border-color: #2a2a2a;
}
.colpick_dark .colpick_color {
	outline-color: #333;
}
.colpick_dark .colpick_hue {
	border-color: #555;
}
.colpick_dark .colpick_field, .colpick_dark .colpick_hex_field {
	background: #101010;
	border-color: #2d2d2d;
}
.colpick_dark .colpick_field_letter {
	background: #131313;
	border-color: #2d2d2d;
	color: #696969;
}
.colpick_dark .colpick_field input, .colpick_dark .colpick_hex_field input {
	color: #7a7a7a;
}
.colpick_dark .colpick_field_uarr {
	border-bottom-color:#696969;
}
.colpick_dark .colpick_field_darr {
	border-top-color:#696969;
}
.colpick_dark .colpick_focus {
	border-color:#444;
}
.colpick_dark .colpick_submit {
	background: #131313;
	border-color:#2d2d2d;
	color:#7a7a7a;
}
.colpick_dark .colpick_submit:hover {
	background-color:#101010;
	border-color:#444;
}