.linear_band{
  position:relative;
  width:100%;
  height:14px;
  margin-bottom:6px;
  border:1px solid #aaa;
  border-radius:3px;
  background-image:linear-gradient(to right, red 20%, blue 50%);
}
.linear_band_select{
  position:absolute;
  width:6px;
  height:100%;
  background-color:#FFF;
  border-radius:2px;
  box-shadow:0 0 1px #000;
  left:38px;
}
.linear_container{
  position:absolute;
  background-color:#FFF;
  box-shadow: 0 0 0px 1px #FFF,0 0 2px 1px #000;
  transform-origin:0 50%;
}
.linear_prev_point{
  position:absolute;
  display:inline-block;
  border-radius:50%;
  width:10px;
  height:10px;
  margin:-5px;
  background: #FFF;
  border:2px solid #FFF;
  box-shadow: 0 0 2px #000, inset 0 0 2px #000;
}
.linear_prev_point.active{
  width:14px;
  height:14px;
  margin:-7px;
  background: #FFF;
  border:2px solid #FFF;
  box-shadow: 0 0 2px #000, inset 0 0 2px #000;
}