.linear_band{
  position:relative;
  width:100%;
  height:14px;
  margin-bottom:6px;
  border:1px solid #aaa;
  border-radius:3px;
  background-image:linear-gradient(to right, red 20%, blue 50%);
}
.linear_band_select{
  position:absolute;
  width:6px;
  height:100%;
  background-color:#FFF;
  border-radius:2px;
  box-shadow:0 0 1px #000;
  left:38px;
}
.linear_container{
  position:absolute;
  background-color:#FFF;
  box-shadow: 0 0 0px 1px #FFF,0 0 2px 1px #000;
  transform-origin:0 50%;
}
.linear_prev_point{
  position:absolute;
  display:inline-block;
  border-radius:50%;
  width:10px;
  height:10px;
  margin:-5px;
  background: #FFF;
  border:2px solid #FFF;
  box-shadow: 0 0 2px #000, inset 0 0 2px #000;
}
.linear_prev_point.active{
  width:14px;
  height:14px;
  margin:-7px;
  background: #FFF;
  border:2px solid #FFF;
  box-shadow: 0 0 2px #000, inset 0 0 2px #000;
}

.mode_pane{
  text-align: center;
  width:100%;
  margin-bottom:8px;
}
.color_mode{
  display:inline-block;
  width:20px;
  height:20px;
  margin:0 4px;
  border-radius: 3px;
  border:1px solid #888;
}
.mode_pane .pattern_fill{
}
.flat_color{
  margin-left: 0;
  background-color:#A6A6A6;
  border-width:0;
}
.flat_color:hover{
  background-color:#555;
}
.flat_color.active{
  background-image: linear-gradient(to bottom, rgb(65,155,249), rgb(65,155,249));
}
.linear_gradient{
  background: linear-gradient(to bottom, #FFF, #888);
}
.linear_gradient:hover{
  background: linear-gradient(to bottom, #FFF, #333);
}
.linear_gradient.active{
  background: linear-gradient(to bottom, #FFF, rgb(65,155,249));
}
.radial_gradient{
  background: radial-gradient(#FFF, #838383);
}
.radial_gradient:hover{
  background: radial-gradient(#FFF, #282828);
}
.radial_gradient.active{
  background: radial-gradient(#FFF, rgb(18,134,255));
}
.mode_pane .pattern_fill{
    background-size: 8px 8px; 
    margin-right: 0;
}
.pattern_fill{
  background-image: 
   /*horizonta*/
   -webkit-gradient(linear, 0 0, 0 100%, 
    color-stop(.5, transparent), 
    color-stop(.5, rgba(64, 64, 64, .5)), 
    to(rgba(64, 64, 64, .5))),
     /*vertical*/
   -webkit-gradient(linear, 0 0, 100% 0, 
    color-stop(.5, transparent), 
    color-stop(.5, rgba(64, 64, 64, .5)),
     to(rgba(64, 64, 64, .5)));
}
.pattern_fill:hover{
  background-image: 
   /* horizontal */
   -webkit-gradient(linear, 0 0, 0 100%, 
    color-stop(.5, transparent), 
    color-stop(.5, rgba(0, 0, 0, .5)), 
    to(rgba(0, 0, 0, .5))),
   /*vertical*/
   -webkit-gradient(linear, 0 0, 100% 0, 
    color-stop(.5, transparent), 
    color-stop(.5, rgba(0, 0, 0, .5)),
     to(rgba(0, 0, 0, .5)));
}
.transparent_color{
  background-image: 
    linear-gradient(to bottom, rgba(65,155,249,0.5), rgba(65,155,249,0.5)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #555), color-stop(.25, transparent), to(transparent)),
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #555), color-stop(.25, transparent), to(transparent)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #555)),
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #555));
}
.transparent_color:hover{
  background-color:rgba(0, 0, 0, 0.5);
}


.value_pane{
  width: 100%;
  height: 50px;
  margin-top:5px;
  text-align:center;
  /* border:1px solid red; */
}
.color_value{
  display:inline-block;
  height:100%;
  margin:4px;
}
.Hex_value{
  margin-left:0px;
}
.a_value{
  margin-right:0;
}
.color_value input{

}
.color_value label{
  display:block;
  padding-top:4px;
  font-size:12px;
  /* border:2px solid blue; */
  /* width:100%; */
}