.value_pane{
	width: 100%;
	height: 50px;
	margin-top:5px;
	text-align:center;
	/* border:1px solid red; */
}
.color_value{
	display:inline-block;
	height:100%;
	margin:4px;
}
.Hex_value{
	margin-left:0px;
}
.a_value{
	margin-right:0;
}
.color_value input{

}
.color_value label{
	display:block;
	padding-top:4px;
	font-size:12px;
	/* border:2px solid blue; */
	/* width:100%; */
}